* {box-sizing: border-box;}

body {
  font-family: sans-serif;
  margin: 0;
  width: 100%;
  height: 100%;
  background: hsla(0, 0%, 80%, 1);
  font-family: 'Favorit';
  position: fixed;
  color: #ffffff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.scene {
  width: 100%;
  height: 100%;
  perspective: 500px;
  position: absolute;
  margin: auto;
}

.control {
  outline: none;
  position: fixed;
  bottom: 2%;
  left: 2%;
  appearance: none;
  display: block;
  color: #878787;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox {
  outline: none;
}

input,
.checkbox,
.range {
  accent-color: #daff61;
  outline: none;
  border: none;
}


input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #ececec;
  border-radius: 3px;
  cursor: pointer;
  height: 16px;
  outline: 0;
  width: 16px;
  margin: 0;
  position: relative;
  top: 3px;
  margin-left: 2px;
}


input[type="checkbox"]::after {
  border: solid #fff;
  border-width: 0 2px 2px 0;
  content: '';
  display: none;
  height: 40%;
  left: 35%;
  position: relative;
  top: 15%;
  transform: rotate(45deg);
  width: 20%;

}

input[type="checkbox"]:checked {
  background: #daff61;
}

input[type="checkbox"]:checked::after {
  display: block;
}

.perspective-range {
  background: linear-gradient(to right, #daff61 0%, #daff61 100%, #ececec 50%, #ececec 100%);
  border-radius: 8px;

  appearance: none;
  accent-color: #daff61;
  height: 8px;
}

.origin-x-range {
  background: linear-gradient(to right, #daff61 0%, #daff61 50%, #ececec 0%, #ececec 100%);
  border-radius: 8px;
  appearance: none;
  accent-color: #daff61;
  height: 8px;
}

.origin-y-range {
  background: linear-gradient(to right, #daff61 0%, #daff61 50%, #ececec 50%, #ececec 100%);
  border-radius: 8px;
  appearance: none;
  accent-color: #daff61;
  height: 8px;
}

.cube {
  width: 58%;
  height: 100%;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  margin: auto;

}

.line_back {
  border-right: 3px solid #daff61;
  width: 30%;
  height: 100%;
  position: absolute;

  Z-index: 1;
}

.line_back3 {
  border-bottom: 3px solid #daff61;
  width: 90%;
  height: 10%;
  bottom: 0;
  right: 0;
  position: absolute;
  Z-index: 1;
}

.line_right {
  border-left: 3px solid #daff61;
  width: 23%;
  height: 100%;
  position: absolute;
  Z-index: 1;
  right: 0%;
}


.line_right2,
.line_back2,
.line_left2,
.line_front2 {
  border-bottom: 3px solid #daff61;
  width: 100%;
  height: 70%;
  position: absolute;
  Z-index: -1;
}

.line_top2 {
  border-bottom: 3px solid #daff61;
  width: 100%;
  height: 23.1%;
  position: absolute;
  Z-index: 5;

}

.line_bottom {
  border-right: 3px solid #daff61;
  width: 10%;
  height: 100%;
  position: absolute;
  Z-index: 1;
  right: 70%;
}

.line_bottom2 {
  border-bottom: 3px solid #daff61;
  width: 100%;
  height: 77.3%;
  position: absolute;
  Z-index: 5;
  left: 0%;
}

.line_left {
  border-right: 3px solid #daff61;
  width: 23.1%;
  height: 100%;
  position: absolute;
  Z-index: 1;
}

.line_front {
  border-right: 3px solid #daff61;
  width: 10%;
  height: 100%;
  position: absolute;
  Z-index: 1;
  right: 70%;
}

.back_text {
  padding: 15% 10% 30% 20%;
  font-size: 20px;
  rotate: 0deg;
  position: absolute;
  z-index: 2;
}

.right_text {
  padding: 10% 30% 10% 10%;
  font-size: 20px;
  rotate: 5deg;
  z-index: 2;
  margin-top: 40%;
  position: absolute
}

.bottom_text {
  padding: 10% 10% 10% 30%;
  font-size: 20px;
  rotate: -5deg;
  z-index: 2;
  position: absolute
}

.left_text {
  padding: 30% 10% 10% 30%;
  font-size: 20px;
  rotate: -5deg;
  z-index: 2;
  position: absolute
}

.front_text {
  padding: 20% 10% 10% 10%;
  font-size: 70px;
  line-height: 90px;
  z-index: 2;
  position: absolute;
  transform: scaleX(-1)
}

.top_text {
  padding: 30% 30% 30% 20%;
  font-size: 20px;
  rotate: 5deg;
  position: absolute
}

.title {
  font-size: 500px;
  left: 1%;
  bottom: 20%;
  position: absolute;
}

.title_2 {
  font-size: 500px;
  right: 1%;
  bottom: 20%;
  position: absolute;
}

.title_3 {
  font-size: 500px;
  right: 10%;
  top: 40%;
  position: absolute;
}

.title_4 {
  font-size: 500px;
  right: 0%;
  bottom: 50%;
  position: absolute;
}

.cube.is-spinning {
  animation: spinCube 8s infinite ease-in-out;
}

@keyframes spinCube {
  0% {
    transform: translateZ(-80px) rotateX(0deg) rotateY(0deg);
  }

  100% {
    transform: translateZ(-80px) rotateX(360deg) rotateY(360deg);
  }
}

.cube__face {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 30px;
  font-size: 12px;
  font-weight: bold;
  color: white;

}

.text {
  margin-top: 0%;
}

.cube__face--front {
  background: hsla(0, 0%, 80%, 1);
}

.cube__face--right {
  background: hsla(0, 0%, 80%, 1);
}

.cube__face--back {
  background: hsla(0, 0%, 80%, 1);
}

.cube__face--left {
  background: hsla(0, 0%, 80%, 1);
}

.cube__face--top {
  background: hsla(0, 0%, 80%, 1);
}

.cube__face--bottom {
  background: hsla(0, 0%, 80%, 1);
}

.cube__face--front {
  transform: rotateY(-0deg) translateZ(500px);
}

.cube__face--right {
  transform: rotateY(-90deg) translateZ(-500px);
}

.cube__face--back {
  transform: rotateY(0deg) translateZ(-500px);
}

.cube__face--left {
  transform: rotateY(90deg) translateZ(-500px);
}

.cube__face--top {
  transform: rotateX(-90deg) translateZ(-499px);
}

.cube__face--bottom {
  transform: rotateX(90deg) translateZ(-499px);
}

.cube.is-backface-hidden .cube__face {
  backface-visibility: hidden;
}

img {
  width: 100%;
  display: inline;
  float: left;
}

.cube__face--bottom>img {
  width: 90%;
  rotate: 10deg;
  margin: 10%
}

.cube__face--back>img {
  width: 50%;
  rotate: 10deg;
  margin: 40% 10% 10% 10%
}

.cube__face--top>img {
  width: 50%;
  rotate: 10deg;
  margin: 40% 10% 10% 40%
}